h3 {
    margin-bottom: 0;
}
.notes-field,
.signature-field {
    margin-top: 0.25em;
}
h2 button {
    vertical-align: middle;
}
.editable-field {
    display: none;
}
.cancel-text {
    font-size: 12px;
    vertical-align: bottom;
}
#comments {
    width: 600px;
    height: 150px;
}
.provisional-comments {
    box-shadow: inset 0 0 5px gold;
}
.destinations-table {
    width: 100%;
}
.limit-input {
    width: 30px;
}
.destination-header {
    width: 210px;
}
.approval-header,
.cc-status-header,
.current-limit-header {
    width: 80px;
}
.expiration-header {
    width: 170px;
}
.mode-header {
    width: 120px;
}
.comment-input {
    width: 95%;
}
.footer {
    display: table;
    width: 100%;
}
.footer-row {
    display: table-row;
}
.footer-row > div {
    display: table-cell;
}
.history-panel {
    text-align: right;
    vertical-align: bottom;
}
input[readonly],
textarea[readonly] {
    background-color: #dddddd;
}
#cancel-button {
    vertical-align: bottom;
}